{% extends "base.html" %}

{% block content %}
    <div  id="id_list_table">

        {% for item in list %}

            <div class="demo-card-wide mdl-card mdl-shadow--2dp " >
              <div class="mdl-card__title">
                  <h2 class="panel-title mdl-card__title-text">{{ item.title }} </h2>
              </div>
              <div class="mdl-card__supporting-text">
                {{ item.description }}
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <span class="info">from {{ item.user }} at {{ item.timestamp }}</span>
                </a>
              </div>
              <div class="mdl-card__menu">
                  {% if item.user == request.user %}
                    <a href="{% url 'blog:delete' item.id %}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" > delete </i>
                    </a>
                  {% endif %}
              </div>
            </div>
        <br>
         {% endfor %}



    </div>
{% endblock %}
