<!DOCTYPE html>

<html lang="en">
<head>
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'mdl/material.min.css' %}">
	<script src="{% static 'mdl/material.min.js' %}"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base.css' %}" rel="stylesheet">
	<link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
 <!-- Uses a transparent header that draws on top of the layout's background -->
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Blog</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{% url 'blog:form' %}">Form</a>
	        <a class="mdl-navigation__link" href="{% url 'blog:posts' %}">Posts</a>
	        <a class="mdl-navigation__link" href="{% url 'admin:index' %}">Admin</a>
			{% if user.is_authenticated %}
	        <a class="mdl-navigation__link" href="{% url 'logout' %}">Logout</a>
			{% else %}
			<a class="mdl-navigation__link" href="{% url 'login' %}">Login</a>
			{% endif %}
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Blog</span>
        <nav class="mdl-navigation">
          	<a class="mdl-navigation__link" href="{% url 'blog:form' %}">Form</a>
	        <a class="mdl-navigation__link" href="{% url 'blog:posts' %}">Posts</a>
	        <a class="mdl-navigation__link" href="{% url 'admin:index' %}">Admin</a>
			{% if user.is_authenticated %}
	        <a class="mdl-navigation__link" href="{% url 'logout' %}">Logout</a>
			{% else %}
			<a class="mdl-navigation__link" href="{% url 'login' %}">Login</a>
			{% endif %}
        </nav>
      </div>

          <div class="mdl-grid">

              <div class="mdl-cell mdl-cell--12-col">
                {% block content %}
                {% endblock %}
              </div>

          </div>

    </div>

</body>
</html>